<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Knidarkness</title>
    <link rel="stylesheet" href="{{path_prefix}}styles/page-header.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/blog-post.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/footer.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/grid.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/sidebar.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/search-form.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/blog-menu.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/blog-pagination.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/post-form.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/post-comment.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/comment-form.css">
    <link rel="stylesheet" href="{{path_prefix}}styles/commons.css">
</head>
<body>
<header class='page-header'>
    <a href="{{path_prefix}}"><h1 class='page-header__title'>Bla Knidarkness blog</h1></a>
    <p class='page-header__description'>I`m a guy who likes coding, cooking and cooling...</p>
</header>